:host {
  height: 100%;
  width: 30%;
  z-index: 100;
}

.logs {
  height: 144px;
  width: 100%;
  padding: 1rem;
  font-size: 0.8rem;
  position: relative;
  background-color: #000000;
  opacity: 0.95;
  border-radius: 0.2rem;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
}

.logs__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar { width: 0 !important }
}
