:host {
  z-index: 100;
}

.logs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  width: 80%;
  margin: 0rem 2rem 0 15rem;
  padding: 0;
  font-size: 0.8rem;
  position: relative;
}
