<div class="background background-city-1">
  <div id="stars-group-1"></div>
  <div id="stars-group-2"></div>
  <div id="stars-group-3"></div>
  <div id="stars-group-4"></div>
  <div id="stars-group-5"></div>
  <div id="stars-group-6"></div>
  <div class="container blur"></div>
</div>
<div class="container">
  <header>
    <div class="logo" routerLink="/">
      <div class="logo__part1">1000</div>
      <div class="logo__part2">Card game</div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="social">
      <a class="social__link" href="https://github.com/Arminek" target="_blank">
        <img src="assets/images/GitHub-Mark-Light-32px.png">
        <span>Arminek</span>
      </a>
      <a class="social__link" href="https://github.com/jarku" target="_blank">
        <img src="assets/images/GitHub-Mark-Light-32px.png">
        <span>Jarko</span>
      </a>
    </div>
  </footer>
</div>
